<h2>Sign Up</h2>
<form>
    <app-loader [loading]="loading"></app-loader>
    <label>Email:</label>
    <input type="email" name="email" required [(ngModel)]="email" />
    <label>Password:</label>
    <input type="password" name="password" required placeholder="Enter your password" autocomplete="current-password"
        [(ngModel)]="password" />
    <label>Confirm Password:</label>
    <input type="password" name="confirmPassword" required [(ngModel)]="confirmPassword" />
    <button type="submit">Sign Up</button>
</form>