<h2>Sign Up</h2>
<form>
    <app-loader [loading]="loading()"></app-loader>
    <label>Email:</label>
    <input type="email" name="email" [ngModel]="email()" (ngModelChange)="email.set($event)" required />
    <label>Password:</label>
    <input type="password" name="password" [ngModel]="password()" (ngModelChange)="password.set($event)" required
        placeholder="Enter your password" autocomplete="current-password" />
    <label>Confirm Password:</label>
    <input type="password" name="confirmPassword" [ngModel]="confirmPassword()" autocomplete="new-password"
        (ngModelChange)="confirmPassword.set($event)" required />
    <button type="submit">Sign Up</button>
</form>